<div id="login-container">
  <p-card header="Connexion" class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="field">
        <input
          id="username"
          pInputText
          type="text"
          formControlName="username"
          placeholder="Nom d'utilisateur"
        />

        @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')) {
          <small class="p-error login-err-msg">Le nom d'utilisateur est obligatoire.</small>
        }

        @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('username')) {
          <small class="p-error login-err-msg">Le nom d'utilisateur n'est pas valide.</small>
        }
      </div>

      <div class="field">
        <p-password
          inputId="password"
          formControlName="password"
          [feedback]="false"
          placeholder="Mot de passe"
        ></p-password>

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
          <small class="p-error login-err-msg">Le mot de passe est obligatoire.</small>
        }
      </div>

      <p-button
        type="submit"
        label="Se connecter"
        icon="pi pi-sign-in"
        class="p-button-primary p-button-rounded"
        [disabled]="loginForm.invalid"
      ></p-button>

      <p-toast></p-toast>
    </form>
  </p-card>
</div>
