#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 25%;
}

.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.login-err-msg {
  color: red;
}
