#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background:  url("src/assets/images/backgrounds/black-and-red-dots.png");
  background-size: cover;
}

.login-card {
  width: 25%;
}

.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.login-err-msg {
  color: red;
}
