<div id="navbar" class="shadow-xl/30">
  <div>
    <img ngOptimizedImage
         [ngSrc]="logoSrc"
         alt="Le logo de l'application Cards"
         width="100"
         height="100"/>
  </div>
  <div id="navbar-middle-icons">
    <i class="pi pi-play-circle navbar-icons" (click)="toDashboard()"></i>
    <i class="pi pi-comments navbar-icons" (click)="toggleChat()"></i>
  </div>
  <div id="navbar-bottom-icons">
    <i class="pi pi-user navbar-icons" (click)="toProfile()"></i>
    <i class="pi pi-sign-out navbar-icons" (click)="logout()"></i>
  </div>
</div>
