#dashboard-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

#game-selection-wrapper {
  height: 100vh;
  width: 95%;
}

#app-navbar {
  height: 100vh;
  width: 5%;
  min-width: 50px;
}
