#dashboard-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

#game-selection-wrapper {
  height: 100vh;
  width: 95%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.game-card {
  height: 55vh;
  margin: 2rem;
}

.game-card-header {
  height: 180px;
  overflow: hidden;
}

.game-card-header-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
